.email-input-form {
  margin-left: auto;
}
.online-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-fon-color);
  margin-bottom: 20px;
}
.online-form {
  display: flex;
}

.online-input {
  margin-right: 12px;
  padding: 15px 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--first-fon-color);
  outline: none;
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.online-button {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-fon-color);
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--secondary-accent-color);
  }
  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon\ send.svg);
    margin-left: 10px;
  }
}
