.team__soc {
  display: flex;
  justify-content: center;
  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
  }
}

.team__soc__item:last-child {
  margin-right: 0;
}

.team__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
  &:hover,
  &:focus {
    color: var(--first-fon-color);
    background-color: var(--accent-color);
  }
}

.team__icon {
  fill: currentColor;
}
