body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-tex-color);
  letter-spacing: 0.03em;
  background: var(--first-fon-color);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}
